.titulo {
  padding-top: 70px;
  text-align: center;
  font-family: 'Monoton', cursive;
  font-size: 40px;
}

.subtitulo {
  padding-top: 90px;
  text-align: center;
  font-family: 'Chau Philomene One', sans-serif;
  font-size: 20px;
}
